<table id="serverlist" cellpadding="0" cellspacing="0" class="table table-striped">
  <thead>
    <TR>
      <th>UUID</th>
      <tH>Serial Number</th>
      <th>Manufacturer</th>
      <th>Productname</th>
      <tH>Asset Tags</th>
      <th>Location</tH>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
