<div class="container-fluid">
  <div class="row-fluid">
    <div class="span1">
      <ul class="nav nav-pills nav-stacked">
        <li><%= link_to 'Cabinets', admin_assetmgmt_cabinets_path -%></li>
        <li><a href="#">Location</a></li>
      </ul>
    </div>
    <div class="span9">
      hello
    </div>
  </div>
</div>
