<%= render "admin/interface_types/javascript" %>
<% content_for :titleinformation do %>
Edit Interface Type
<% end %>
<div id="kvmform" class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span3">
        <%= render "admin/interface_types/form" %>
      </div>
    </div>
  </div>
</div>
