<div id="sidemenu" class="sidebox">
  <UL class="vertical">
    <LI><%= link_to "User Administration", admin_users_path -%></LI>
    <LI><%= link_to "DC² Backends", admin_dcbackends_path -%></LI>
  </UL>
</div>

