<% content_for :extra_head do %>
  <%= javascript_include_tag "home" %>
<% end %>
<div id="datacenters" class="row-fluid">
  <% if @dcbservers -%>
    <div id="datacenters" class="span5">
    <table class="table">
      <thead>
        <tr>
          <th>Datacenter</th>
          <th>No. of Servers</tH>
          <th>Number of Hosts</th>
        </tr>
      </thead>
      <% @dcbservers.each do |dcb| %>
        <tbody>
          <tr data-url="<%= url_for :controller => "/backends/main",:backend_id => dcb["id"] %>" >
            <td><%= dcb["title"] %></td>
            <td><div id="<%= dcb["id"] %>" class="stats_req" data-stats="servers"></div></tD>
            <td>TBD</td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
<% end %>
</div>

