<table cellpadding="0" cellspacing="0" class="table table-striped">
  <thead>
    <tr>
      <th><input id="check_all" type="checkbox" name="check_all"/></th>
      <th>Manufacturer</th>
      <th>Model</th>
      <th>Height</th>
      <th>Location</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div id="userbtn" class="btn-group pull-right">
    <input type="button" name="btn_add" value="Add" class="btn"/>
    <input type="button" name="btn_refresh" value="Refresh" class="btn"/>
    <input type="button" name="btn_delete" value="Delete" class="btn"/>
</div>
