<%= render 'admin/assetmgmt/cabinets/javascript' %>
<% content_for :titleinformation do %>
  Asset Management - Cabinets
<% end %>
<div id="cabinetlist" class="row-fluid">
  <div class="span5">
    <%= render 'admin/assetmgmt/cabinets/list' %>
  </div>
</div>

