<div id="host-classes" class="tab-pane">
  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div id="classtemplates"><select name="classtemplates" cols="50" id="sel_hostclasses_template"></select></div>
        <table id="hostclasses-list" class="table table-striped" cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <tH>Needs Removal</th>
              <th>Classname</th>
            </tr>
          </thead>
          <tbody>
            <input type="hidden" name="host[hostclasses][]" />
            <% @server_info["server"]["host"]["hostclasses"].each do |hcl| %>
              <tr>
                <td><%= check_box_tag "host[[needs_removal][]",hcl,false, :onchange=>"$(this).parent('td').parent().remove()" %>
                <td><%= select_tag "host[hostclasses][]",options_for_select(@defclasses,:selected=>hcl) %></td>
              </tr>
            <% end %>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="2"><button id="hostclasses-add" type="button" value="Add" class="btn pull-right">Add</button></td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</div>
