<%= render "admin/inet_types/javascript" %>
<% content_for :titleinformation do %>
INET Types
<% end %>
<div id="inettypelist" class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="span6">
        <%= render "admin/inet_types/inettypeslist" %>
      </div>
    </div>
  </div>
</div>
