<%= render 'admin/assetmgmt/dc_modules/javascript' %>
<% content_for :titleinformation do %>
  Edit Module
<% end %>

<div id="moduleform" class="row-fluid">
  <div class="span10">
    <%= render 'admin/assetmgmt/dc_modules/form' %>
  </div>
</div>

