<%= render "admin/users/javascript" %>
<% content_for :titleinformation do %>
Edit User
<% end %>

<div id="userform" class="row-fluid">
  <div class="span12">
    <%= render "admin/users/form" %>
  </div>
</div>
