<%= render "admin/users/javascript" %>

<% content_for :titleinformation do %>
Userlist
<% end %>
  <div id="userlist" class="row-fluid">
    <div class="span5">
      <%= render "admin/users/userlist" %>
    </div>
  </div>
