<%= render "admin/kvms/javascript" %>
<% content_for :titleinformation do %>
Edit KVM
<% end %>

<div id="userform" class="row-fluid">
  <div class="span12">
    <%= render "admin/kvms/form" %>
  </div>
</div>
