<div id="sidemenu" class="sidebox">
  <UL class="vertical">
    <LI class="submenu">DC² Backends
      <UL id="dcbackends" class="submenu hidden">
        <% @dcblist.each do |dcb| %>
          <LI><%= link_to dcb.title, :controller => "/backends/main", :backend_id => dcb %></LI>
        <% end %>
      </UL>
    </LI>
    <% if @dcb %>
      <LI><%= link_to "Servers", backends_servers_path({:view=>"list",:id=>@dcb}), :id => "get_server_list" , :class => "button", :remote=>true, :update => "server_list" %></LI>
    <% end %>
  </UL>
</div>

