  <table cellspacing="0" cellpadding="0" class="table table-striped">
    <thead>
      <tr>
        <th><input id="check_all" type="checkbox" name="check_all"/></tH>
        <th>DC² Backend</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <% @dclist.each do |dc| %>
        <tr url="<%= edit_admin_dcbackend_path(dc) %>">
          <td><input class="del_check" type="checkbox" name="check" value="<%= admin_dcbackend_path(dc) %>"/></td>
          <td class="data-cell"><%= dc.title %></td>
          <td class="data-cell"><%= dc.location %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <div id="dclistbtn" class="btn-group pull-right">
    <input type="button" name="btn_add" value="Add" class="btn"/>
    <input type="button" name="btn_delete" value="Delete" class="btn"/>
    <input type="button" name="btn_refresh" value="Refresh" class="btn"/>
  </div>
</div>
