<%= render 'admin/assetmgmt/locations/javascript' %>
<% content_for :titleinformation do %>
  Edit Location
<% end %>

<div id="locationform" class="row-fluid">
  <div class="span10">
    <%= render 'admin/assetmgmt/locations/form' %>
  </div>
</div>

