<%= render 'admin/assetmgmt/locations/javascript' %>
<% content_for :titleinformation do %>
  New Location
<% end %>
<div id="locationform" class="row-fluid">
  <%= render 'admin/assetmgmt/locations/form' %>
</div>

